<h1>Alpha Blog</h1>
<p>If you want to learn how to sell, how to win in business, and how to get new customers, this blog is for you. </p>
<hr />

<ul>
<li><%= link_to "Alpha Blog", articles_path %></li>
<li><%= link_to 'About', about_path %></li>
</ul>
<hr />
<p style="text-align:center;">Home - <%= link_to 'About', about_path %></p>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to "About", about_path %>
